<div class="wrapper">
  <div class="container text-center">
  <h1>Our team </h1>
  <ul class="list-inline text-center">
    <% ["anne", "seb", "romain"].each do |member| %>
      <li>
        <%= image_tag "#{member}.jpg", class: "avatar-larger" %>
        <h3><%= member.capitalize %></h3>
      </li>
    <% end %>
  </ul>
  </div>

  <div class="email features">
  <a href="#"><i class="fa fa-envelope"></i>contact@airbnb.com</a>
  </div>
</div>
